<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-lg bg-info bg-gradient">
        <h1 align = "center">Sales Dashboard</h1>
        <br>
    </div>

    <!-- {{cities}} -->

    <div class="container mt-5">
      <!-- Dropdown Menu -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          {{selected_city}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="/">All Cities</a></li>
          {% for city in cities %}
          <li><a class="dropdown-item" href="/filter/{{city}}">{{city}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        Total Sales ${{sales}}
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        Total Profits ${{profit}}
      </div>
    </div>
    {% for fig in chart %}
    <div class="container mt-5">
      <img src="data:image/png;base64,{{ fig }}" alt="Chart">
  </div>
  {% endfor %}
    <!-- Bootstrap JS and Popper.js (for the dropdown functionality) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

  </body>
</html>